/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */
body{
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header{
    background-color: white;
}

#logo{
    vertical-align: middle;
    padding: 10px;
}

.title{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    padding-left: 0;
}

/* Main */
.container{
    width: 1000px;
    height: 50px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    padding-top: 12px;
    padding-left: 40px;
}

.button{
    padding: 5px;
    border-radius: 10%;
}

#add-task{
    color: white;
    background-color:  #45ABEA;
    border-color:  #45ABEA;
}

#add-section{
    color: lightgray;
    background-color: white;
    border-color: lightgray;
}
