/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */
body{
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header{
    background-color: white;
}

#logo{
    vertical-align: middle;
    padding: 10px;
}

.title{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    padding-left: 0;
}

/* Main */
.container-gestionale{
    width: 1000px;
    height: 50px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 5px;
    padding-top: 12px;
    padding-left: 40px;
}

.button{
    padding: 5px;
    border-radius: 10%;
}

#add-task{
    color: white;
    background-color:  #45ABEA;
    border-color:  #45ABEA;
}

#add-section{
    color: lightgray;
    background-color: white;
    border-color: lightgray;
}

.container{
    margin-top: 50px;
    width: 1000px;
    background-color: white;
    margin: auto;
    padding-left: 40px;
    padding-top: 20px;
}

.entity{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    vertical-align: middle;
}

.task-text{
    display: inline-block;
    vertical-align: middle;
}

.list-tag{
    width: 30px;
    height: 30px;
    border-radius: 25%;
    vertical-align: middle;
}

.tag-name{
    vertical-align: middle;
    margin-left: 5px;
    font-size: 12px;
    color: white;
    padding-right: 3px;
    font-size: 10px;
}

#check{
    color: green;
    border-color: green;
}

#cross{
    color: red;
    border-color: red;
}

#blue-tag{
    background-color: #45ABEA;
}

#purple-tag{
    background-color:  #9C72E4;
}

#lime-tag{
    background-color: #B0C926;
}

#orange-tag{
    background-color: #F29E33;
}

#green-tag{
    background-color: #64C0A9;
}

#violet-tag{
    background-color: #D863A1;
}
